    </div> <!-- Div Container-->
    <footer id="footer">
        <div id="footerContainer">
            <div id="footerItem">
                <div id="footerContactImg">
                    <div><img src="/images/whatsapp_branco.png"></div>
                </div>
                
                <div id="statsContactNumber">
                    <div>0800 123 222</div>
                    <div>Seg - Sex 8h-22h</div>
                </div>
            </div>
            <div id="footerItem">
                <div id="footerContactImg">
                    <div><img src="/images/chat-outline.png"></div>
                </div>
                
                <div id="statsContactNumber">
                    <div>Chat ao vivo</div>
                    <div>Seg - Sex 8h-22h</div>
                </div>
            </div>
            <div id="footerItem">
                <div id="footerContactImg">
                    <div><img src="/images/email-outline.png"></div>
                </div>
                
                <div id="statsContactNumber">
                    <div>Mande um e-mail</div>
                    <div>Respondemos rapidinho</div>
                </div>
            </div>
            <div id="footerItem">
                <div id="footerContactImg">
                    <div><img src="/images/information-outline_branco.png"></div>
                </div>
                
                <div id="statsContactNumber">
                    <div>Central de ajuda</div>
                    <div>Encontre todas as respostas</div>
                </div>
            </div>
        </div>
        <div id="footerContainerEnd">
            Feito com 
            <img id="heart" src="/images/heart-outline.png"> 
            pelo Quero Educação
        </div>
    </footer>
</body>
</html>