<html>
    <head>
        <title>QueroEd</title>
        <link href="/styles/style.css" rel="stylesheet">
        <link href="/styles/statusBar.css" rel="stylesheet">
        <link href="/styles/menu.css" rel="stylesheet">
        <link href="/styles/footer.css" rel="stylesheet">
        <link href="/styles/home.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <script>

            function showModal(){
                // Get the modal
                let modal = document.getElementById("myModal");
                modal.style.display = "block";
            }

            function closeModal(){
                let modal = document.getElementById("myModal");
                modal.style.display = "none";
            }
            
        </script>
    </head>
    <body>
    <div id="container">