<div id="rota">
    Home /
</div>
<div id="homeFavoritas">
    <h1>Bolsas favoritas</h1>
    <h4>Adicione bolsas de cursos e faculdades do seu interesse e receba atualizações com as melhores ofertas disponíveis.</h4>
</div>
<div id="home">
    <div id="homeSemestres">
        <div id="homeSemestreItemExtremoLeft">Todos os semestres</div>
        <div id="homeSemestreItem">2° Semestre de 2019</div>
        <div id="homeSemestreItemExtremoRigth">1° Semestre de 2019</div>
    </div>
    <div id="homeAddBolsa">
        <div id="homeAddItem">
            <img id="homeAddItemImg" src="/images/plus-circle-outline.PNG"><br>
            <div id="homeAddItemlabels">
                <label>Adicionar Bolsa</label><br>
                <label>Clique aqui para bolsas</label><br>
                <label>do seu interesse</label><br>
            </div>
        </div>
    </div>
</div>