<div id="home">
    <div id="homeSemestres">
        <div id="homeSemestreItemExtremoLeft">Todos os semestres</div>
        <div id="homeSemestreItem">2° Semestre de 2019</div>
        <div id="homeSemestreItemExtremoRigth">1° Semestre de 2019</div>
    </div>
    <div id="homeAddBolsa">
        <div id="homeAddItem">
            <img src="/images/plus-circle-outline.PNG"><br>
            <div id="homeAddItemlabels">
                <label>Adicionar Bolsa</label><br>
                <label>Clique aqui para bolsas</label><br>
                <label>do seu interesse</label><br>
            </div>
        </div>
    </div>
</div>