<%- include('header') %>

<div id="menu">
    <div id="menuContainer">
        <h3 id="menuItem">
            Minha conta
        </h3>
        <h3 id="menuItem">
            Pré-matrículas
        </h3>
        <h3 id="menuItem">
            Bolsas favoritas
        </h3>
    </div>
</div>

<%- include('footer') %>