<%- include('header') %>

<div id="statusBar">
        <div id="statusContainer">
            <div id="statsHelp">
                <div id="statsContactImg">
                    <div><img src="/images/information-icon.png"></div>
                </div>
                <div id="statsContactNumber">
                    <div>Como Funciona</div>
                </div >
                <div id="statusDivision"></div>
                <div id="statsContactImg">
                    <div><img src="/images/whatsapp.png"></div>
                </div>
                <div id="statsContactNumber">
                    <div>0800 123 222</div>
                    <div>Envie mensagen ou ligue</div>
                </div>
            </div>
        </div>
        <div id="statusContainer">
            <div><img src="/images/querobolsa.png"></div>
        </div>
        <div id="statusContainer">
            <div id="statusUser">
                <div id="statusUserName">Nome Sobrenome</div>
                <div><img src="/images/account-circle-outline.png"></div>
            </div>
        </div>
</div>

<%- include('footer') %>