/*Footer*/
#footerContacts{
    display: flex;
    position: relative;
}

#footerContainer {
    display: flex; 
    background-color: #007A8D;
    align-self: center;
    align-content: center;
}

#footer #footerContainer #footerItem{
    display: flex; 
    flex: 1;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 20px;
    color: aliceblue;
}

#footer #footerContainer #footerItem #footerContactImg {
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    margin-right: 10px;
}

#footerContainerEnd {
    display: flex;
    flex-direction: row;
    background-color: #18ACC4;
    color: aliceblue;
    text-align: center;
    align-self: center;
    padding: 50px;
    justify-content: center;
}

#footerContainerEnd img {
    text-align: initial;
    align-self: baseline;
    justify-content: center;
}
 
/*Footer*/