body {
    font-family: 'Roboto', sans-serif;
    background-color: #FBFBFB;
    color: #1F2D30;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 90%; /* Full height */
    overflow: scroll;
    background-color: #1F2D30; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #1F2D30;
    text-decoration: none;
    cursor: pointer;
  }

  #formContent {
      display: flex;
      flex: 1;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #007A8D;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: radio;
    appearance: none;
    width: 20px;
    height: 20px;
    background:#007A8D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

#formContent {
    display: flex;
    flex-direction: column;
}

#formContentLine {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 20px;
}

#formContentLineElements {
    flex: 1;
}

#customSelect{
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

#customCheckBox {
    display: flex; 
    justify-content: flex-start;
    align-content: space-around;
    padding: 10px;
    margin-top: 10px;
}

#lineDivision {
    height: 1.5px;
    background-color: #d1d1d1;
}

#footerForm {
    display: flex;
    flex: 1;
    padding: 10px;
    align-self: flex-end;
}

#btnCancelar, #btnAddBolsa{
    display: block;
    border: 1px solid #007A8D;
    color: #007A8D;
    padding: 8px;
    border-radius: 3px;
    margin: 7px;
    text-align: center;
}

#btnCancelar:hover {
    background-color: rgb(201, 239, 245);
    cursor: pointer;
}

#listFaculdades {
    display: flex;
    position: relative;
    padding: 20px;
}

#logoFaculdade{
    margin-right: 10px;
    justify-content: center;
    align-self: center;
}

#logoFaculdade img{
    max-height: 150px; 
    max-width: 75px;

}

#nameCourseName{
    margin-right: 10px;
    color: #007A8D;
    font-size: 18px;
}

#nameCourseLevel{
    margin-right: 10px;
    font-size: 14px;
    margin-top: 5px;
}

#checkFaculdade {
    margin-right: 10px;
    justify-content: center;
    align-self: center;
}

#valorFaculdade {
    margin-right: 10px;
    justify-content: right;
}

#nameAndLevel {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 10px;
}

#priceAndDiscont {
    display: flex;
    flex-direction: column;
}

#labelDesconto, #valorFaculdade {
    color: #0FA866;
}

#btnAddBolsa {
    background-color: #FDCB13 ; 
}

#btnAddBolsa:hover {
    background-color: #DE9E1F;
    cursor: pointer; 
}

#btnAddBolsa.disabled { 
    background-color: #FBFBFB; 
}