/*Status Styles*/
#statusBar {
    display: flex;
    position: relative;
    color: #007A8D;
    font-weight: bold;
    font-size: 15px;
    margin-left: 100px;
}

#statusBar #statusContainer {
    flex: 1;
    padding: 15px;
    align-self: center;
}

#statusBar #statusContainer #statsHelp{
    display: flex; 
    align-self: center;
}

#statusBar #statusContainer #statsHelp #statusHelpUnion{
    justify-content: flex-start;
    align-self: center;
}

#statusBar #statusDivision {
    padding: 1px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(228, 228, 228);
}

#statusBar #statusContainer #statsHelp #statsContactImg{
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    margin-right: 10px;
}

#statusBar #statusContainer #statsHelp #statsContactNumber{
    flex-direction: column;
    align-self: center;
}

#statusBar #statusContainer #statusUser{
    display: flex;
}

#statusBar #statusContainer #statusUser #statusUserName{
    margin-right: 20px;
}
/*Status Styles*/

/*Menu Styles*/

#menu {
    background-color: #18ACC4;
}

#menuContainer{
    display: flex;
    position: relative;
    margin: 0px;
    margin-left: 100px;
}

#menuItem {
    text-align: center;
    color: aliceblue;
    font-size: 15px;
    margin: 0px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all .5s ease;
}

#menu #menuItem:hover {
    background-color: #007A8D;
    cursor: pointer;
}
/*Menu Styles*/

/*Footer*/
#footerContacts{
    display: flex;
    position: relative;
}

#footerContainer {
    display: flex; 
    background-color: #007A8D;
    align-self: center;
    align-content: center;
}

#footer #footerContainer #footerItem{
    display: flex; 
    flex: 1;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 20px;
    color: aliceblue;
}

#footer #footerContainer #footerItem #footerContactImg {
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    margin-right: 10px;
}

#footerContainerEnd {
    background-color: #18ACC4;
    color: aliceblue;
    text-align: center;
    align-self: center;
    padding: 50px;
}
#footerContainerEnd img {
    text-align: initial;
    align-self: baseline;
}
 
/*Footer*/

/*Home*/

#home {
    padding: 50px;
    padding-bottom: 100px;
}

#homeAddItem {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 50px 50px 100px 50px;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

#homeAddItem:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

#homeAddItem img {
    align-items: center;
    align-self: center;
    align-content: center;
}

#homeAddItem {
    text-align: left;
    margin-left: 200px;
}

#homeSemestres {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 200px;
}

#homeAddItemlabels {
    align-items: center;
    align-self: center;
    text-align: center;
}

#homeSemestreItem {
    border: 1px solid #007A8D;
    color: #007A8D;
    padding: 10px;
}

#homeSemestreItemExtremoLeft {
    border: 1px solid #007A8D;
    color: #007A8D;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

#homeSemestreItemExtremoRigth {
    border: 1px solid #007A8D;
    color: #007A8D;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#homeSemestreItem:hover {
    background-color: #007A8D;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#homeSemestreItemExtremoLeft:hover {
    background-color: #007A8D;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#homeSemestreItemExtremoRigth:hover {
    background-color: #007A8D;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/*Home*/